#board-sector {
	section {
		margin: 0 0 @font-size-xlarge / 2;
		display: inline-block;
		width: 100%;
	}

	h1 {
		font-size: @font-size-xlarge;
		line-height: @line-height-xlarge;
	}

	li {
		font-size: @font-size-large;
		line-height: @line-height-large;
	}
}

#board-toc {
	h2 {
		font-size: @font-size-xxlarge;
		font-weight: bold;
		line-height: @line-height-xxlarge;
		display: inline-block;
	}
}

.board-manager-list {
	display: inline-block;
	margin: 0 0 0 @font-size-xxlarge * 2;
	font-size: @font-size-large;

	a {
		margin: 0 0 0 @font-size-large / 2;
	}
}

#board-toc-list {
	margin: 16px 0 0;

	li {
		margin: 8px 0 0;
	}

	.board-toc-title {
		font-size: @font-size-xlarge;
		line-height: @line-height-large;
		display: inline-block;
		width: @font-size-xlarge * 25;
	}

	.user-meta {
		font-size: @font-size-large;
		margin: 0 @font-size-large 0 0;
	}

	span {
		font-size: @font-size-base;
		color: #9e9e9e;
	}
}
