a {
	color: @link-color;
	text-decoration: @link-decoration;
}
a:hover {
	color: @link-hover-color;
	text-decoration: @link-hover-decoration;
}

body {
	font-family: @font-family;
	font-size: @font-size-base;
}

input, textarea {
	font-family: @font-family;
	font-size: @font-size-large;
}

input[type=submit] {
	color: #fff;
	background-color: @color-positive;
	border: none;
	cursor: pointer;
	height: @line-height-xxlarge;
	border-radius: @font-size-large / 4;
}

textarea {
	display: block;
}

button {
	background-color: @color-background;
	font-family: @font-family;
	font-size: @font-size-base;
	line-height: @line-height-base;
	padding: 4px 12px;
	text-align: center;
	border-radius: @font-size-base / 4;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.btn-pos {
	color: @color-text-light;
	background-color: @color-positive;
	border: 1px solid @color-positive;

	&:active {
		border: 1px solid @color-positive;
	}
}

.btn-sm {
	font-size: @font-size-small;
	line-height: @line-height-small;
	border-radius: @font-size-small / 4;
	padding: 2px 8px;
}

.btn-link {
	border: none;
	padding: 0 12px;
	color: @link-color;
	&:hover {
		color: @link-hover-color;
		text-decoration: @link-hover-decoration;
	}
}

.a030 { color: @ansi-color-030; }
.a130 { color: @ansi-color-130; }
.a031 { color: @ansi-color-031; }
.a131 { color: @ansi-color-131; }
.a032 { color: @ansi-color-032; }
.a132 { color: @ansi-color-132; }
.a033 { color: @ansi-color-033; }
.a133 { color: @ansi-color-133; }
.a034 { color: @ansi-color-034; }
.a134 { color: @ansi-color-134; }
.a035 { color: @ansi-color-035; }
.a135 { color: @ansi-color-135; }
.a036 { color: @ansi-color-036; }
.a136 { color: @ansi-color-136; }
.a037 { color: @ansi-color-037; }
.a137 { color: @ansi-color-137; }
.a40 { background-color: @ansi-color-40; }
.a41 { background-color: @ansi-color-41; }
.a42 { background-color: @ansi-color-42; }
.a44 { background-color: @ansi-color-44; }
.a44 { background-color: @ansi-color-44; }
.a45 { background-color: @ansi-color-45; }
.a46 { background-color: @ansi-color-46; }
.a47 { background-color: @ansi-color-47; }
