@import "var";
@import "reset";

@import "default";

@import "navigation";

@import "footer";

.container {
	width: 1000px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

#main {
	margin: 0 0 16px 0;
}

.nav-left-shown {
	float: left;
	margin-left: @nav-left-width + 16px;
}
