@import "var";
@import "reset";

@import "default";

.col-custom(@width, @gap) {
	column-width: @width;
	-moz-column-width: @width;
	-webkit-column-width: @width;
	column-gap: @gap;
	-moz-column-gap: @gap;
	-webkit-column-gap: @gap;
}

.col-md {
	.col-custom(@column-md-width, @column-md-gap);
}

@import "navigation";
@import "board";
@import "post";
@import "footer";

.container {
	width: 1000px;
	margin: 0 auto;
}

.main-container {
	margin: 64px auto 0;
}

.hidden {
	display: none;
}

#main {
	margin: 0 0 16px 0;

}

#main.nav-left-shown {
	margin-left: @nav-left-width + 16px;
}
