@nav-link-hover-color: @nav-color;
@nav-link-hover-decoration: @link-decoration;

@nav-secondary-background-color: @color-blue;
@nav-secondary-hover-color: @color-blue-light;

@nav-height: 48px;
@nav-left-width: 160px;

nav {
	width: 100%;
	font-size: @font-size-xlarge;
	color: @nav-color;
	background-color: @nav-background-color;
	margin: 0 0 16px 0;
	position: fixed;
	top: 0;

	li {
		display: inline-block;
		vertical-align: top;
		line-height: @nav-height;

		li {
			display: block;
			background-color: @nav-secondary-background-color;

			a {
				font-size: @font-size-large;
				line-height: @nav-height;
				text-align: center;
			}
		}
	}

	a {
		display: block;
		min-width: 80px;
		text-align: center;
		color: @nav-color;
		cursor: pointer;

		&:hover {
			color: @nav-link-hover-color;
			text-decoration: @nav-link-hover-decoration;
		}
	}

	.container {
		height: @nav-height;
	}

	.nav-left {
		float: left;
	}
	.nav-right {
		float: right;
	}
}

.nav-hdr {
	font-size: @font-size-xxlarge;
	font-weight: bold;
	width: 160px;
}

.nav-menu-hdr {
	position: relative;

	&:hover ul {
		display: block;
	}
}

.nav-menu-li {
	display: none;
	position: absolute;
	left: 0;
}

.nav-right .nav-menu-li {
	left: auto;
	right: 0;
}

#nav-noti-li a {
	min-width: 144px;
}

#nav-brd.nav-left {
	display: none;
}

#nav-brd.nav-left-shown {
	display: block;
	float: left;
	width: @nav-left-width;
	margin: 0 0 16px 0;
}

#main.nav-left-shown {
	margin-left: @nav-left-width + 16px;
}

#nav-brd div {
	font-size: @font-size-large;
	margin: 0 0 8px;
}

#fav {
	font-size: @font-size-large;
	line-height: @line-height-xlarge;

	a {
		display: block;
	}
}

@media (max-width: @screen-sm) {
	#nav-brd.nav-left-shown {
		display: none;
	}

	#nav-brd.nav-left-shown.nav-open {
		display: block;
		float: none;
		width: 100%;
	}

	#fav {
		font-size: @font-size-base;
		.col-custom(100px, 15px);
	}

	#main.nav-left-shown {
		margin-left: 0;
	}

	.nav-menu-hdr {
		&:hover ul {
			display: none;
		}
	}

	.nav-hdr {
		width: 96px;

		a {
			font-weight: normal;
			min-width: 96px;
		}
	}

	nav {
		.nav-left > li {
			display: none;

			&.nav-hdr {
				display: block;
			}
		}

		a {
			min-width: 60px;
		}

		.nav-hdr.nav-open ul, .nav-menu-hdr.nav-open ul {
			display: block;
		}
	}

	#nav-profile {
		max-width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
