@color-primary: rgb(33,150,243);
@color-primary-300: rgb(100,181,246);
@color-primary-800: rgb(21,101,192);

@color-delimiter: #c0c0c0;

@nav-background-color: @color-primary-800;
@nav-color: #fff;

@link-decoration: none;
@link-color: @color-primary;
@link-hover-color: darken(@link-color, 15%);
@link-hover-decoration: underline;

@font-family: "Microsoft Yahei", "Microsoft Jhenghei", "Segoe UI", Arial, sans-serif;
@font-size-base: 14px;
@font-size-large: 16px;
@font-size-xlarge: 18px;
@font-size-xxlarge: 20px;
@font-size-small: 12px;

@line-height-base: 18px;
@line-height-large: 24px;
@line-height-xlarge: 36px;
@line-height-xxlarge: 48px;
