body {
	font-family: "Gill Sans MT", Verdana, sans-serif;
	font-size: 1em;
}
body, div {
	margin: 0;
	padding: 0;
}
div.main {
	width: 61em;
	margin: 0 1em;
}
h2 {
	font-weight: bold;
	font-size: 1.5em;
}
h3 {
	font-weight: normal;
	font-size: 1.2em;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: #336699;
	color: #ffffff;
}
img {
	border: 0;
	vertical-align: middle;
}
ul.brd {
	list-style-type: none;
}
ul.brd li{
	padding-left: 20px;
	display: inline;
	background: transparent url('/images/types/folder.gif') no-repeat left center;
	margin-left: 0.5em;
}

ul.nav {
	display: block;
	background: #336699;
	height: 2.5em;
	padding: 0 0 0 1em;
	margin: 0 0 1em 0;
	list-style-type: none;
}
ul.nav li {
	display: block;
	float: left;
	margin: 0;
	width: auto;
}
ul.nav li a {
	display: inline-block;
	position: relative;
	height: 2.5em;
	line-height: 2.5em;
	width: auto;
	color: #ffffff;
	padding: 0 1em 0 1.5em;
	margin: 0;
	background-repeat: no-repeat;
	background-position: left center;
}
ul.nav li ul {
	display: none;
	padding: 0;
}
ul.nav li li {
	display: block;
	width: 8em;
}
ul.nav li li a {
	display: block;
	position: relative;
	height: 2em;
	line-height: 2em;
	width: 7em;
	padding: 0 0 0 1.5em;
}
ul.nav li:hover ul, ul.nav li:focus ul {
	visibility: visible;
	display: block;
	position: absolute;
}
ul.nav li:hover ul li, ul.nav li:focus ul li {
	float: none;
	width: 8.5em;
	background-color: #336699;
}
ul.nav li a:hover, ul.nav li a:focus {
	text-decoration: none;
	background-color: #6699cc;
}
li#navh>a { background-image: url('/images/button/home.gif'); }
li#navl>a { background-image: url('/images/login.gif'); }
li#nava>a { background-image: url('/images/announce.gif'); }
li#navp>a { background-image: url('/images/penguin.gif'); }
li#navt>a { background-image: url('/images/top10.gif'); }
li#navf>a { background-image: url('/images/favorite.gif'); }
li#navc>a { background-image: url('/images/chat.gif'); }
li#navco>a { background-image: url('/images/config.gif'); }
li#navm>a { background-image: url('/images/mail.gif'); }
li#navs>a { background-image: url('/images/search.gif'); }
li#navte>a { background-image: url('/images/telnet.gif'); }
li#nave>a { background-image: url('/images/exit.gif'); }

table {
	margin-bottom: 0.5em;
}
th {
	background-color: #ccddff;
	text-align: left;
}
tr { height: 1.5em; line-height: 1.5em; vertical-align: middle; }
tr.light { background-color: #ffffff; }
tr.dark { background-color: #f0f7ff; }
th.no, td.no { width: 3.5em; text-align: center; }
th.title, td.title { width: 10em; }
th.cate, td.cate { width: 3.5em; text-align: center; }
th.desc, td.desc { width: 12em; }
th.bm, td.bm { width: auto; }
th.mark, td.mark { width: 2.5em; text-align: center; }
th.owner, td.owner { width: 7em; }
th.time, td.time { width: 7em; text-align: center; }
th.ptitle, td.ptitle { width: 35em; }
th.read, td.read { width: 2.5em; text-align: center; }
a.title, a.desc, a.owner, a.ptitle { display: block; }

.a030 { color: Window; }
.a130 { color: #c0c0c0; }
.a031 { color: #800000; }
.a131 { color: #800000; }
.a032 { color: #008000; }
.a132 { color: #008000; }
.a033 { color: #808000; }
.a133 { color: #808000; }
.a034 { color: #000080; }
.a134 { color: #000080; }
.a035 { color: #800080; }
.a135 { color: #800080; }
.a036 { color: #008080; }
.a136 { color: #008080; }
.a037 { color: #000000; }
.a137 { color: #000000; }
.a40 { background-color: Window; }
.a41 { background-color: #ff0000; }
.a42 { background-color: #00ff00; }
.a43 { background-color: #ffff00; }
.a44 { background-color: #0000ff; }
.a45 { background-color: #ff00ff; }
.a46 { background-color: #00ffff; }
.a47 { background-color: Window; }

