body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Microsoft YaHei", "WenQuanYi ZenHei", "SimSun", "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	width: 100%;
	background-color: #f0f7ff;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
h2 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 6px;
}
h3 {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 4px;
}
p {
	margin-bottom: 4px;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	background-color: #ffffdd;
}
img {
	border: 0;
	vertical-align: middle;
}
th {
	background-color: #ccddff;
	text-align: left;
}
th, td { padding: 0 3px; }
tr { height: 24px; line-height: 24px; vertical-align: middle; }

ul.sec>li {
	font-size: 14px;
	margin: 6px 0;
	border-bottom: #336699 2px dotted;
}
ul.brd li{
	padding-left: 20px;
	display: inline;
	background: transparent url('/images/types/folder.gif') no-repeat left center;
	margin-left: 6px;
}
#main {
	margin: 6px 6px 6px 144px;
	font-size: 14px;
}
#hd {
	margin: 8px 8px 1px 144px;
	padding-bottom: 2px;
	border-bottom: #6699cc 1px dashed;
	font-size: 14px;
}
#iewarn {
	font-weight: bold;
	background-color: #fff0b2;
}
#hdright {
	margin-right: 16px;
	float: right;
}
.prompt {
	position: fixed;
	margin: 0 auto;
	top: 4px;
	left: 40%;
	line-height: 24px;
	-moz-border-radius: 6px; border-radius: 6px;
	padding: 0 20px;
	display: none;
}
#loading { background-color: #ccddff; }
#error { background-color: #ffc0cb; }

#ft {	
	clear: both;
	margin: 8px 8px 8px 144px;
	padding-top: 8px;
	border-top: #6699cc 1px dashed;
	font-size: 12px;
}
#hd a {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 21px;
	padding: 0 7px 0 21px;
}
#hd a:hover {
	background-color: #ffffdd;
}
a#navnm { display: inline-block; font-weight: bold; }
#navl, #navte, #nave {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
}
#navl { background-image: url('../images/login.gif'); }
#navte { background-image: url('../images/telnet.gif'); }
#nave { background-image: url('../images/exit.gif'); }
#navnm { background-image: url('../images/mail_new.gif'); }
a#navu { font-weight: bold; padding: 0 14px 0 0; }
#nav {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #336699;
	border: #336699 1px solid;
	width: 120px;
	padding: 3px;
	margin: 0 0 6px 0;
	overflow: auto;
	font-size: 14px;
}
#nav li {
	display: block;
	padding: 0;
	margin: 0;
}
#nav li a {
	display: block;
	color: #ffffff;
	border: #336699 1px solid;
	line-height: 21px;
	padding-left: 21px;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0;
	height: 21px;
}
#nav li a:hover {
	text-decoration: none;
	border: #99ccff 1px solid;
	color: #ffffff;
	background-color: #6699cc;
	border-color: #99ccff #003366 #003366 #99ccff;
}
#nav li ul {
	display: none;
}
#nav li li {
	display: block;
}
#navh a { background-image: url('../images/button/home.gif'); }
#navb a { background-image: url('../images/egroup.gif'); }
#nava a { background-image: url('../images/announce.gif'); }
#navp a { background-image: url('../images/penguin.gif'); }
#navt a { background-image: url('../images/top10.gif'); }
#navf a { background-image: url('../images/favorite.gif'); }
#navc a { background-image: url('../images/chat.gif'); }
#navco a { background-image: url('../images/config.gif'); }
#navm a { background-image: url('../images/mail.gif'); }
#navs a { background-image: url('../images/search.gif'); }
#navh li a, #navb li a, #nava li a, #navp li a, #navt li a, #navf li a, #navc li a, #navco li a, #navm li a, #navs li a { background-image: none; }
#navb ul li a { padding-left: 7px; }
.sf { padding: 0; font-size: 12px; }
#navf ul li.sf a { padding: 0; line-height: 18px; height: 18px; }

.heading {
	margin-bottom: 6px;
}
.heading a {
	color: #224466;
	margin-right: 5px;
}
.heading span {
	margin: 0 5px;
}
div.h2, div.bmlist, div.modelist {
	display: inline-block;
	margin: 0 10px 0 0;
}
.h2 {
	font-weight: bold;
	font-size: 18px;
}
.h2 a {
	color: #000000;
}
.bmlist {
	font-weight: normal;
	font-size: 14px;
}
.bmlist a {
	border: none;
	padding: 0;
	margin-right: 3px;
}

table.content {
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
	font-size: 14px;
}
#postlist tr {
	line-height: 20px;
	height: 20px;
}
tr.light { background-color: #ffffff; }
tr.dark { background-color: #f0f7ff; }
th.no, td.no { width: 56px; text-align: center; }
th.title, td.title { width: 168px; }
th.owner, td.owner { width: 98px;}
th.mark, td.mark { width: 42px; }
th.time, td.time { width: 140px; _width: 140px; text-align: center; padding: 0; margin: 0; }
td.time { font-size: 11px; }
th.bm, td.bm { _width: 280px; }
th.cate, td.cate { width: 70px; }
th.desc, td.desc { width: 225px; }
th.read, td.read { width: 75px; }
th.chkbox, td.chkbox { width: 12px; }
td.idesc { min-width: 140px; }
th.cate, td.cate, th.mark, td.mark, th.time, td.time, th.read, td.read { text-align: center; }
a.title, a.desc, a.owner, a.ptitle { display: block; }
a.idesc { display: inline-block; margin-left: 2px; }
td.time, span.time { color: gray;}
th.replies, td.replies { width: 40px; text-align: center; }
#forum div.time, #forum div.uptime { color: gray; font-size: 11px; line-height: 15px; }
#forum th.owner, #forum td.owner { text-align: center; width: 120px; }
#forum a.owner { font-size: 12px; line-height: 16px; }
#forum a.lastpage { margin-left: 20px; color: #224466; display: none; }

#maillist { border-collapse: collapse; }
#maillist tr { border-bottom: 1px dotted #d0d0d0; }
#maillist .light { font-weight: bold; }
#maillist .light .time { font-weight: normal; }
.mailsum { display: inline-block; float: right; }

div.bnav, div.mnav {
	margin: 8px 0;
}
div.btop {
	margin: 2px 0 0;
}

div.post {
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border: 2px solid #ccddff;
	margin: 7px 0;
	width: 100%;
}
.post a {
	color: #336699;
}
div.ptop, div.pbot {
	padding: 3px 7px;
}
.ptop a, .plink a, .pnav a, .btop a, .blink a, .bnav a, .mnav a {
	border-bottom: 1px dotted #6699cc;
	padding: 3px 0;
	margin-right: 10px;
	color: #224466;
}
.plink span.disabled {
	margin: 0 7px 0 0;
}
div.pnav {
	margin: 0 0 5px;
}
div.ptop, div.plink {
	margin: 5px 0;
}
div.plink {
	padding: 3px 7px;
	background-color: #f0f7ff;
}
div.preply {
	padding: 5px 0;
	border-top: 1px solid #ccddff;
}
div.post_h {
	background-color: #ccddff;
	margin-bottom: 10px;
}
div.post_q, div.preply {
	color: #606060;
	background-color: #e7f5fa;
	margin-left: 14px;
}
div.post_s {
	border-top: 2px dotted #ccddff;
	padding: 4px 0 0;
	margin: 4px 0 0;
	font-family: monospace;
	font-size: 12px;
}
.post_s img {
	max-width: 600px;
	max-height: 200px;
}
div.post_h, div.post_t, div.post_q, div.post_s {
	padding: 3px 7px;
}
.preply .success {
	color: #22b14c;
	font-weight: bold;
	margin-right: 10px;
}
div.pmain, div.umain, div.usmd {
	background-color: #f0f7ff;
	border-top: 1px solid #ccddff;
	border-bottom: 1px solid #ccddff;
}
div.umain {
	padding: 3px 7px;
	font-size: 14px;
}
div.usplit {
	padding: 3px 7px;
}
div.usmd {
	padding: 3px 7px;
	font-family: monospace;
}

a.reply, a.newpost {
	font-weight: bold;
	color: #ffffff;
	background-color: #336699;
	border-color: #cccccc #000000 #000000 #cccccc;
	border-style: solid;
	border-width: 1px;
	padding: 3px 10px;
}
#quick_reply, div.quick_reply {
	display: none;
	margin: 3px;
	font-size: 14px;
}
.quick_reply .buttons { margin: 0 8px 8px 0; }
.quick_reply .confirm { width: 200px; }
.quick_reply textarea { margin: 8px 0 0 0; }
.quick_reply .title input[type="text"] { height: 22px; }
.quick_upload_ifrm { display: none; }
form.quick_upload, .mnav form { display: inline-block; }
form.quick_cp { display: none; margin: 8px 0; }

.disabled { color: #808080; }
form.sig_option {
	display: none;
	margin: 10px 0 5px 0;
	padding: 5px 0;
	background-color: #ccddff;
}
form.sig_option input {
	margin: 0 2px 0 8px;
}

textarea.binput {
	font-size: 14px;
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
}
input[type="text"], input[type="password"] {
	font-size: 14px;
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
}
input[type="submit"], input[type="button"], input[type="reset"] {
	font-size: 14px;
	padding: 0 12px;
	margin-right: 4px;
}

form.jump { display:inline; }

#uinfo .a131, #uinfo .a132, #uinfo .a133, #uinfo .a135, #uinfo .a136 {
	font-weight: bold;
}
.lev0, .lev1, .lev2, .lev3, .lev4, .lev5 {
	display: inline-block;
	height: 12px;
	width: 70px;
}
.lev0 span { background-color: #808080; }
.lev1 span { background-color: #0000ff; }
.lev2 span { background-color: #008000; }
.lev3 span { background-color: #ff0000; }
.lev4 span { background-color: #ffa500; }
.lev5 span { background-color: #ffff00; }

.a030 { color: Window; }
.a130 { color: #c0c0c0; }
.a031 { color: #800000; }
.a131 { color: #800000; }
.a032 { color: #008000; }
.a132 { color: #008000; }
.a033 { color: #808000; }
.a133 { color: #808000; }
.a034 { color: #000080; }
.a134 { color: #000080; }
.a035 { color: #800080; }
.a135 { color: #800080; }
.a036 { color: #008080; }
.a136 { color: #008080; }
.a037 { color: #000000; }
.a137 { color: #000000; }
.a40 { background-color: #f0f7ff; }
.a41 { background-color: #ff0000; }
.a42 { background-color: #00ff00; }
.a43 { background-color: #ffff00; }
.a44 { background-color: #0000ff; }
.a45 { background-color: #ff00ff; }
.a46 { background-color: #00ffff; }
.a47 { background-color: #f0f7ff; }

.st_load { background-color: #ffffdd; }
.st_err { background-color: #ff6666; }
#status { display: inline; position: fixed; bottom: 16px; left: 10px; width: 100px; text-align: center; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#st_link { display: none; }

.column-3 { -moz-column-count: 3; -webkit-column-count: 3; -column-count: 3; }
li { margin: 0 0 6px 0; }
