body {
	font-size: 1em;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: #336699;
	color: #ffffff;
}
table {
	border-style: solid outset outset solid;
	border-width: 1px 2px 2px 1px;
	border-color: #0066cc #555555 #555555 #0066cc;
	font-size: 1em;
}
td, th {
	white-space: nowrap;
	font-size: 1em;
}
img {
	border: 0;
	vertical-align: middle;
}
div.article {
	border-style: solid outset outset solid;
	border-width: 1px 2px 2px 1px;
	padding: 4px 5px 4px 5px;
	border-color: #0066cc #555555 #555555 #0066cc;
	line-height: 1.3;
	font-size: 1em;
}
hr {
	color: #000000;
}
.uline {
	border-bottom: 1px solid #99ccff;
}
.tline {
	border-top: 1px solid #99ccff;
}
.rline {
	border-right: 1px solid #99ccff;
}
.lline {
	border-left: 1px  solid #99ccff;
}
textarea.noborder {
	padding: 3;
	border-style: solid;
	border-width:1;
	font-family: simsun;
	color: #000000;
	background-color: #ffffff
}
textarea {
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
	font-family:simsun;
	scrollbar-3dlight-color:#6699cc;
	scrollbar-arrow-color:#00000;
	scrollbar-base-color:#6699cc;
	scrollbar-darkshadow-color:#6699cc;
	scrollbar-face-color:#d0e0f0;
	scrollbar-highlight-color:#d0e0f0;
	scrollbar-shadow-color:#d0e0f0
}
input.thinborder {
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
}

.pt9 {
	text-transform: none;
	text-decoration: none;
}
.pt9u {
	text-transform: uppercase;
	text-decoration: none;
	color:#8f0000;
}
.ansi {
	font-family: simsun;
	color: #000000;
	margin-left: 0;
}
.pt9lc {
	text-transform: none;
	text-decoration: none;
	background-color: #ffffff;
}
.pt9dc {
	text-transform: none;
	text-decoration: none;
	background-color: #f0f7ff;
}
.pt9h {
	text-transform: none;
	text-decoration: none;
	background-color:#ccddff;
}
.pt9h_red {
	text-transform: none;
	text-decoration: none;
	background-color: #eb9889;
}
.pt9h_green {
	text-transform: none;
	text-decoration: none;
	background-color: #8ce164;
}
.pt9h_blue  {
	text-transform: none;
	text-decoration: none;
	background-color: #3e66df;
}
.pt9h_yellow {
	text-transform: none;
	text-decoration: none;
	background-color:#c0c95a;
}

.ansi030 { color: Window; }
.ansi130 { color: #c0c0c0; }
.ansi031 { color: #800000; }
.ansi131 { color: #800000; }
.ansi032 { color: #008000; }
.ansi132 { color: #008000; }
.ansi033 { color: #808000; }
.ansi133 { color: #808000; }
.ansi034 { color: #000080; }
.ansi134 { color: #000080; }
.ansi035 { color: #800080; }
.ansi135 { color: #800080; }
.ansi036 { color: #008080; }
.ansi136 { color: #008080; }
.ansi037 { color: #000000; }
.ansi137 { color: #000000; }
.ansi40 { background-color: Window; }
.ansi41 { background-color: #ff0000; }
.ansi42 { background-color: #00ff00; }
.ansi43 { background-color: #ffff00; }
.ansi44 { background-color: #0000ff; }
.ansi45 { background-color: #ff00ff; }
.ansi46 { background-color: #00ffff; }
.ansi47 { background-color: Window; }
