a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline
}
body {
	font-family: Tahoma;
	font-size: 0.75em;
}
p, select {
	font-family: Tahoma;
}
table {
	font-family: Tahoma;
	border-style: solid outset outset solid;
	border-width: 1px 2px 2px 1px;
	border-color: #0066cc #555555 #555555 #0066cc;
	font-size: 1em;
}
td, th {
	white-space: nowrap;
	font-size: 1em;
}
hr {
	color: #000000;
}
.uline {
	border-bottom: 1px solid #99ccff;
}
.tline {
	border-top: 1px solid #99ccff;
}
.rline {
	border-right: 1px solid #99ccff;
}
.lline {
	border-left: 1px  solid #99ccff;
}
textarea.noborder {
	padding: 3;
	border-style: solid;
	border-width:1;
	font-family: simsun;
	color: #000000;
	background-color: #ffffff
}
textarea {
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
	font-family:simsun;
	scrollbar-3dlight-color:#6699cc;
	scrollbar-arrow-color:#00000;
	scrollbar-base-color:#6699cc;
	scrollbar-darkshadow-color:#6699cc;
	scrollbar-face-color:#d0e0f0;
	scrollbar-highlight-color:#d0e0f0;
	scrollbar-shadow-color:#d0e0f0
}
input.thinborder {
	border: 1px solid #6699cc;
	background-color: #d0e0f0;
}

.pt9 {
	text-transform: none;
	text-decoration: none;
}
.pt9u {
	text-transform: uppercase;
	text-decoration: none;
	color:#8f0000;
}
.ansi {
	font-family: simsun;
	color: #000000;
	margin-left: 0;
}
.pt9lc {
	text-transform: none;
	text-decoration: none;
	background-color: #ffffff;
}
.pt9dc {
	text-transform: none;
	text-decoration: none;
	background-color: #f0f7ff;
}
.pt9h {
	text-transform: none;
	text-decoration: none;
	background-color:#ccddff;
}
.pt9h_red {
	text-transform: none;
	text-decoration: none;
	background-color: #eb9889;
}
.pt9h_green {
	text-transform: none;
	text-decoration: none;
	background-color: #8ce164;
}
.pt9h_blue  {
	text-transform: none;
	text-decoration: none;
	background-color: #3e66df;
}
.pt9h_yellow {
	text-transform: none;
	text-decoration: none;
	background-color:#c0c95a;
}
font.c30 {
	color: #000000;
}
font.c31 {
	color: #e00000;
}
font.c32 {
	color: #008000;
}
font.c33 {
	color: #808000;
}
font.c34 {
	color: #0000ff;
}
font.c35 {
	color: #d000d0;
}
font.c36 {
	color: #33a0a0;
}
font.c37 {
	color: #000000;
}