A{TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 2px solid; BORDER-COLOR: d0f0c0;}
BODY {#BACKGROUND2-COLOR: #f0f4f0; FONT-SIZE: 14px;
background-image: url('bbssecbg.jpg');
}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 14px;}


.pt9  { font-size:9pt; text-transform:none; text-decoration:none;}
.pt9u { font-size:9pt; text-transform:uppercase; text-decoration:none; color:#8f0000}
.ansi { margin-left: 10%}

.pt9lc
{
	font-size:9pt;
	text-transform:none;
	text-decoration:none;
	background-color:#f2f2f2
}
.pt9dc
{
	font-size:9pt;
	text-transform:none;
	text-decoration:none;
	background-color:#dedede
}

FONT.c30 {COLOR: 000000;}
FONT.c31 {COLOR: e00000;}
FONT.c32 {COLOR: 008000;}
FONT.c33 {COLOR: 808000;}
FONT.c34 {COLOR: 0000ff;}
FONT.c35 {COLOR: d000d0;}
FONT.c36 {COLOR: 33a0a0;}
FONT.c37 {COLOR: 000000;}
