img {
	border: 0;
	vertical-align: middle;
}
#left {
	float: left;
	display: inline;
}
#right{
	float: right;
	display: inline;
}
.thinblue {
	border: 1px solid #99ccff;
}
.notice {
	color: red;
	font-weight: bold;
}