img {
	border: none;
	vertical-align: middle;
	padding-right: 5px;
	width: 20px;
	height: 20px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
    padding: 5px 0;
    margin-right: 10px;
}
#container {
	position: relative;
	width: 830px;
	margin: 0 auto;
}
#left {
	float: left;
	font-weight: bold;
	width: 175px;
}
#left div {
    margin: auto 5px 4px 0px;
}
#left a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    height: 24px;
}
#left a:hover {
    background-color: #ff7f7f;
}

.box {
	background-color: #e10019;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}
#menu {
    height: 170px;
    padding: 10px 10px 10px 12px;
}
#loginbox {
	height: 145px;
	padding: 10px 0 10px 12px;
}
#links {
	padding: 7px 0;
	text-align: center;
}
#links li {
	margin: 0;
}

#software {
    display: none;
    position: absolute;
    top: 68px;
    left: 125px;
    border: #f5e4ea solid 1px;
	font-weight: normal;
}
#software li {
    padding: 5px;
    margin: 0;
}

form {
	margin: 0;
	padding: 0;
}
input {
	margin: 0;
	padding: 0;
	height: 30px;
	font-size: 14px;
}
input.txt {
    background: #edecec;
    width: 118px;
    height: 24px;
    border: none;
}
#login { width: 90px; margin-right: 5px; }
#guest { width: 50px; }
#reg { width: 145px; }

#main {
    background: url('../images/bbswebpic.jpg') no-repeat;
    padding-top: 480px;
    width: 640px;
    float: left;
    text-align: center;
    font-size: 14px;
}
#main a {
    color: #000000;
}
#main p {
    margin: 2px;
}
