* {
	font-family: Tahoma, Verdana, Arial;
}
img {
	border: none;
	vertical-align: middle;
	padding-right: 5px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
	padding: 5px 0;
	margin-right: 10px;
}
input.txt {
	background: #d1f4ca;
	width: 100px;
	height:20px;
	border: none;
}
.box {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #0a3601;
}
#container {
	position: relative;
	width: 810px;
	margin: 0 auto;
}
#left_panel {
	font-weight: bold;
	width: 155px;
	float: left;
	font-size: 0.75em;
}
#left_panel div {
	margin: auto 5px 4px 0px;
}
#left_panel a {
	color: #ffffff;
	font-size: 1em;
	text-decoration: none;
	display: block;
}
#left_panel a:hover {
	background-color: #9ed992;
}
#menu {
	height: 190px;
	padding: 12px 10px 2px 12px;
}
#software {
	display: none;
	position: absolute;
	top: 68px;
	left: 125px;
	background-color: #0a3601;
	border: #F5E4EA solid 1px;
}
#software li {
	padding: 5px;
	margin: 0;
}
#loginbox {
	height: 105px;
	padding: 10px 0 5px 10px;
}
#info {
	color: white;
	height: 140px;
	margin-top: 2px;
	padding: 12px 0 0 12px;
}
#info hr {
	background-color: white;
	border: medium none;
	color: white;
	margin-right: 20px;
}
#info p {
	margin: 2px 25px 8px 8px;
	padding-bottom: 4px;
	border-bottom: 2px solid #ffffff;
}
#info img {
	width: 16px;
	height: 16px;
}
#info ul li {
	padding: 1px 0 1px 8px;
	margin-right: 10px;
}
#main {
	background: url('/images/bbswebpic.jpg') no-repeat;
	padding-top: 480px;
	width: 640px;
	float: left;
	text-align: center;
}
#main a {
	color: black;
}
#main p {
	font-size: 0.8em;
	margin: 2px;
}
