html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: separate; border-spacing: 0; }

body { font-family: "Microsoft YaHei", "WenQuanYi ZenHei", "SimSun", "Gill Sans MT", Verdana, sans-serif; font-size: 16px; width: 100%; background-color: #f0f7ff; }
h1 { font-weight: bold; font-size: 20px; margin: 6px 0; }
h2 { font-weight: bold; font-size: 18px; margin: 4px 0; }
h3 { font-weight: normal; margin-bottom: 4px; }
a { color: #369; display: inline-block; line-height: 32px; min-width: 24px; padding: 0 16px 0 0; text-decoration: none; }
a:hover { background-color: #ffffdd; }
img { border: 0; vertical-align: middle; }

a[name="top"] { display: none; }
#hd { line-height: 24px; }
#hd a, #fav a { display: inline-block; min-width: 24px; padding: 0; padding: 0 8px; }
#fav a { min-width: 100px; text-align: center; }
div#hd, div#fav { border-bottom: #6699cc 1px solid; padding: 4px 0; }
#hd a:hover { background-color: #ffffdd; }
#main { padding: 4px 0; }
#ft { margin: 8px 0 0; padding: 4px 3px 0 0; color: #c0c0c0; font-size: 12px; }
div#fav, div#main { padding: 0 3px; }
div#fav { margin-bottom: 4px; }
div#fave, div#favc { display: none; }

span.tt { color: #000; display:inline-block; margin: 0 10px 0 0; }
li.brd span.tt { font-size: 18px; }
.sec a, li.brd a { color: #369; display: block; font-size: 16px; line-height: 36px; }

.po a, a.po-entry { color: #000; display: block; font-size: 18px; line-height: 36px; padding: 0; }
.ainfo a { color: #369; display: inline; font-size: 16px; line-height: 24px; padding: 0; }
p.ainfo { line-height: 24px; font-size: 16px; color: #808080; }

span.time { font-size: 14px; color: gray; }
a.owner { font-size: 14px; }
.po a.owner { color: #369; display: inline-block; line-height: 24px; width: auto; }

.post p { line-height: 28px; }
div.post_h { background-color: #cdf; margin-bottom: 10px; }
.post_h a { line-height: 28px; padding: 0; }
div.post_q p { color: #606060; background-color: #def; font-size: 14px; line-height: 24px; margin: 0 4px 0 16px; }
.plink a, .nav a { padding: 0 8px; }

label.blk { display: block; line-height: 32px; }
input { margin-left: 12px; border: 1px solid #c0c0c0; line-height: 24px; }
input[type="text"] { display: inline-block; }
input[type="text"]:disabled { border: none; background-color: transparent; }
input[type="submit"], input[type="reset"] { border: none; color: #fff; display: block; line-height: 28px; margin: 0 0 8px 0; width: 100%; }
input[type="submit"] { background-color: #369; font-weight: bold; }
input[type="reset"] { background-color: #c0c0c0; }
textarea { border: 1px solid #c0c0c0; width: 100%; }

a.po-folder { color: #369; display: block; font-size: 18px; line-height: 36px; padding: 0; }
div.time { font-size: 14px; color: gray; float: right; line-height: 36px; }

li { border-bottom: #69c 1px dotted; }
#fav a.rd, .rd a, .rd span, .rd a.owner { color: #808080; }

div.umain { padding: 4px 0; }
div.usmd { font-family: monospace; }

.a030 { color: Window; }
.a130 { color: #c0c0c0; }
.a031 { color: #800000; }
.a131 { color: #800000; }
.a032 { color: #008000; }
.a132 { color: #008000; }
.a033 { color: #808000; }
.a133 { color: #808000; }
.a034 { color: #000080; }
.a134 { color: #000080; }
.a035 { color: #800080; }
.a135 { color: #800080; }
.a036 { color: #008080; }
.a136 { color: #008080; }
.a037 { color: #000000; }
.a137 { color: #000000; }
.a40 { background-color: #f0f7ff; }
.a41 { background-color: #ff0000; }
.a42 { background-color: #00ff00; }
.a43 { background-color: #ffff00; }
.a44 { background-color: #0000ff; }
.a45 { background-color: #ff00ff; }
.a46 { background-color: #00ffff; }
.a47 { background-color: #f0f7ff; }
