body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	font-family: "SimSun", "Gill Sans MT", Verdana, sans-serif;
	font-size: 16px;
	background-color: #f0f7ff;
}
ul, ol {
	list-style: none;
}
h2 { font-weight: bold; font-size: 16px; margin: 4px 0; }
h3 { font-weight: normal; margin-bottom: 4px; }
a { color: #336699; text-decoration: none; }
a:hover { background-color: #ffffdd; }
img { border: 0; vertical-align: middle; }

#hd { line-height: 24px; }
#hd a, #fav a { display: inline-block; padding: 0 4px; }
#fav a { min-width: 48px; text-align: center; }
div#hd, div#fav { border-bottom: #6699cc 1px solid; padding: 4px 0; }
#hd a:hover { background-color: #ffffdd; }
#main { padding: 4px 0; }
#ft { margin-top: 4px; border-top: #6699cc 1px solid; }
div#fav, div#main, div#ft { padding: 0 3px; }
div#fav { margin-bottom: 4px; }
div#fave, div#favc { display: none; }

.po a { display: inline; color: #000000; }
span.time { font-size: 14px; color: gray; }
a.owner, .ainfo { font-size: 14px; }
.po a.owner, .ainfo a { color: #336699; }
.ainfo { color: #808080; }

div.post { border-bottom: #6699cc 1px dotted; padding: 4px 0; }
div.nav, div.plink { background-color: #ccddff; padding: 4px 0; }
div.plink { border-bottom: #6699cc 1px dotted; }

li { border-bottom: #6699cc 1px dotted; padding: 4px 0; }
li.brd span.tt { font-size: 14px; }

div.umain { padding: 4px 0; }
div.usmd { font-family: monospace; }

.a030 { color: Window; }
.a130 { color: #c0c0c0; }
.a031 { color: #800000; }
.a131 { color: #800000; }
.a032 { color: #008000; }
.a132 { color: #008000; }
.a033 { color: #808000; }
.a133 { color: #808000; }
.a034 { color: #000080; }
.a134 { color: #000080; }
.a035 { color: #800080; }
.a135 { color: #800080; }
.a036 { color: #008080; }
.a136 { color: #008080; }
.a037 { color: #000000; }
.a137 { color: #000000; }
.a40 { background-color: #f0f7ff; }
.a41 { background-color: #ff0000; }
.a42 { background-color: #00ff00; }
.a43 { background-color: #ffff00; }
.a44 { background-color: #0000ff; }
.a45 { background-color: #ff00ff; }
.a46 { background-color: #00ffff; }
.a47 { background-color: #f0f7ff; }
