.login-container {
    padding: 10px;
    max-width: 300px;
    margin: auto;
}
.login-container .ui-login .ui-login-input[type=text],
.login-container .ui-login .ui-login-input[type=password] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.login-container .ui-login .ui-login-loading {
    right: auto;
    left: 86%;
    left: -moz-calc(50% + 100px);
    left: -ms-calc(50% + 100px);
    left: -o-calc(50% + 100px);
    left: -webkit-calc(50% + 100px);
    left: calc(50% + 100px);
}
