.ui-board-search .ui-board-search-input-container {
    margin: 5px 10px 10px 10px;
}
.ui-board-search .ui-board-search-input,
.ui-board-search .ui-board-search-input:focus {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 25px;
    width: 100%;
    background-image: url(decorator/search.png);
    background-image: -webkit-image-set(url(decorator/search.png) 1x, url(decorator/search@2x.png) 2x);
    background-position: 4px center;
    background-repeat: no-repeat;
    font-size: 14px;
}
.ui-board-search .ui-board-search-input.with-placeholder,
.ui-board-search .ui-board-search-input.with-placeholder:focus {
    background-image: url(decorator/search_with_placeholder.png);
}
.ui-board-search.loading .ui-board-search-input,
.ui-board-search.loading .ui-board-search-input:focus {
    background-image: url(decorator/loader-mini.gif);
}
.ui-board-search .ui-board-search-list-container {
    margin: 10px;
}

@media only screen and (max-width: 767px) {
    .ui-board-search .ui-board-search-input-container {
        margin: 10px;
    }
    .ui-board-search .ui-board-search-list-container {
        margin: 0;
    }
}
