.ui-board-search .ui-board-search-input-container {
    margin: 5px 10px 10px 10px;
}
.ui-board-search .ui-board-search-input,
.ui-board-search .ui-board-search-input:focus {
    font-size: 14px;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 25px;

    background-image: url(decorator/search.png); /** sprite-ref: common; sprite-margin-bottom: 6px; sprite-margin-top: 6px; */
    background-image: -webkit-image-set(url(decorator/search.png) 1x, url(decorator/search@2x.png) 2x);
    background-repeat: no-repeat;
    background-position: center 4px;
}
.ui-board-search .ui-board-search-input.with-placeholder,
.ui-board-search .ui-board-search-input.with-placeholder:focus {
    background-image: url(decorator/search_with_placeholder.png); /** sprite-ref: common; sprite-margin-bottom: 6px; sprite-margin-top: 6px; */
    background-repeat: no-repeat;
    background-position: center 4px;
}
.ui-board-search.loading .ui-board-search-input,
.ui-board-search.loading .ui-board-search-input:focus {
    background-image: url(decorator/loader-mini.gif);
}
.ui-board-search .ui-board-search-list-container {
    margin: 10px;
}

@media only screen and (max-width: 767px) {
    .ui-board-search .ui-board-search-input-container {
        margin: 10px;
    }
    .ui-board-search .ui-board-search-list-container {
        margin: 0;
    }
}
