/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */

.ui-widget-overlay {
    position: fixed;
    z-index: 1098;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .45;
    background: black;

    filter: alpha(opacity=45);
}
.ui-dialog {
    z-index: 1099;

    padding: 10px;

    border: solid 1px #666;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
            box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.ui-dialog:focus {
    outline: none;
}
.ui-dialog-titlebar {
    margin-bottom: 20px;

    cursor: move;
}
.ui-dialog-title {
    font-size: 16px;
    font-weight: bold;
}
.ui-dialog-titlebar-close {
    position: absolute;
    top: -16px;
    right: -16px;

    display: block;

    width: 32px;
    height: 32px;

    text-indent: -9999px;

    border: none;
    background-repeat: no-repeat;
    background-image: url(decorator/close_dialog.png); /** sprite-ref: common; */
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    .ui-dialog-titlebar-close {
        font-size: 12px;

        position: absolute;
        top: 3px;
        right: 0;

        display: block;

        width: auto;
        height: 20px;

        text-indent: 0;

        color: #999;
        background-image: none;
    }
}
