.ui-login {
    font-size: 14px;
}
.ui-login .ui-login-content {
    position: relative;
    margin: 12px 10px;
}
.ui-login .ui-login-label {
    display: block;
    margin: 5px 0;
    color: #4d4d4d;
    cursor: pointer;
}
.ui-login .ui-login-label-tip {
    position: absolute;
    top: 3px;
    right: 0;
    display: block;
    padding-bottom: 1px;
    border-bottom: 1px dotted #999;
    color: #999;
    font-size: 12px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.ui-login .ui-login-label-tip:hover {
    border-bottom-color: #4d4d4d;
    color: #4d4d4d;
}
.ui-login .ui-login-input[type=text],
.ui-login .ui-login-input[type=password] {
    display: block;
    margin: 5px 0;
    width: 238px;
}
.ui-login .ui-login-input-rm,
.ui-login .ui-login-label-rm {
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
.ui-login .ui-login-tip {
    color: #F00;
}
.ui-login .ui-login-button {
    display: block;
    margin: auto;
    width: 150px;
    height: 32px;
    background: #008cba;
    color: #FFF;
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}
.ui-login .ui-login-button:hover {
    background: #006888;
}
.ui-login .ui-login-button.disabled {
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: default;
}
.ui-login .ui-login-button.disabled:hover {
    background: #008cba;
}
.ui-login .ui-login-loading {
    position: absolute;
    top: 9px;
    right: 20px;
    display: none;
    width: 16px;
    height: 16px;
    background-image: url(decorator/loader-mini.gif);
    background-repeat: no-repeat;
}
.loading .ui-login .ui-login-loading {
    display: block;
}
