.ui-side-bar-list {
    margin: 0;
    padding: 0;

    list-style: none;
}
.ui-side-bar-list li {
    padding: 6px 13px;

    list-style: none;
}
.ui-side-bar-list-label {
    position: relative;

    background-color: #F5F5F5;
}
.ui-side-bar-list-label label {
    font-size: 15px;
    font-weight: 700;

    display: block;

    margin: 0;
    padding: 0;

    color: #333;
}
.ui-side-bar-list-label span {
    font-size: 12px;
    line-height: 14px;

    position: absolute;
    top: 10px;
    right: 13px;

    display: block;

    height: 14px;

    cursor: pointer;

    color: #999;
    border-bottom: 1px dotted #999;
}
.ui-side-bar-list-item {
    position: relative;

    border-bottom: 1px solid #DDD;
}
.ui-side-bar-list-target {
    font-size: 12px;

    display: block;

    padding: 0;

    color: #666;
    border: none;
}
.ui-side-bar-list-item.focus .ui-side-bar-list-target {
    color: #000;
}
.ui-side-bar-list-item:hover .ui-side-bar-list-target {
    color: #000;
}
.ui-side-bar-list-empty-tip .ui-side-bar-list-target,
.ui-side-bar-list-loading-tip .ui-side-bar-list-target {
    cursor: default;
}
.ui-side-bar-list-zh {
    font-size: 14px;
}
.ui-side-bar-list-en {
    margin-top: -4px;
}
@media only screen and (max-width: 767px) {
    .ui-side-bar-list li {
        padding: 0;
    }
    .ui-side-bar-list-label {
        background-color: transparent;
    }
    .ui-side-bar-list-label label {
        font-size: 12px;
        font-weight: bold;

        padding: 6px 13px;

        color: #999;
        border-top: 1px solid #5E5E5E;
        border-bottom: none;
        background: #444;
    }
    .ui-side-bar-list-label span {
        top: 8px;
        right: 10px;

        display: block;

        padding: 0 4px;

        color: #222;
        border: 1px solid #5E5E5E;
        -webkit-border-radius: 1000px;
           -moz-border-radius: 1000px;
                border-radius: 1000px;
        background-color: #5E5E5E;
    }
    .ui-side-bar-list-item {
        border: none;
    }
    .ui-side-bar-list-target {
        font-size: 12px;

        padding: 5px 11px;

        color: rgba(255, 255, 255, .7);
        border-bottom: 1px solid #262626;
    }
    .ui-side-bar-list-item.focus .ui-side-bar-list-target {
        font-weight: normal;

        color: rgba(255, 255, 255, .9);
    }
    .ui-side-bar-list-item:hover .ui-side-bar-list-target {
        color: #FFF;
    }
    .ui-side-bar-list-empty-tip .ui-side-bar-list-target,
    .ui-side-bar-list-loading-tip .ui-side-bar-list-target {
        font-size: 14px;

        padding: 11px;

        text-align: center;
    }
}
