/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */
/** sprite: common@2x; sprite-image: url('decorator/common@2x-${md5}.png'); sprite-scale: 2; */

.ui-top-bar {
    line-height: 45px;

    overflow: visible;

    height: 45px;

    background: #333;
}

.ui-top-bar ul {
    font-size: 18;

    display: block;

    height: auto;
    margin: 0;
    padding: 0;

    list-style: none;
}

.ui-top-bar .title-area {
    float: left;
}
.ui-top-bar .title-area .name {
    height: 45px;
}
.ui-top-bar .title-area .name h1 {
    font-size: 15px;
    line-height: 45px;

    margin: 0;
}
.ui-top-bar .title-area .name h1 a {
    font-weight: normal;

    display: block;

    padding: 0 15px;

    color: #FFF;
}
.ui-top-bar .title-area .name h1 a.canvas-toggle {
    display: none;
}

.ui-top-bar .top-bar-section ul li {
    float: left;
}
.ui-top-bar .top-bar-section ul li.divider {
    clear: none;

    width: 0;
    height: 45px;

    border-top: none;
    border-right: solid 1px #4E4E4E;
    border-bottom: none;
}
.ui-top-bar .top-bar-section ul li a {
    font-size: 13px;
    font-weight: normal;
    line-height: 45px;

    display: block;

    padding: 0 15px;

    white-space: nowrap;

    color: #FFF;
    background-color: #333;
}
.ui-top-bar .top-bar-section ul li a:hover {
    background-color: #272727;
}
.ui-top-bar .top-bar-section ul li.active a {
    background-color: #008CBA;
}
.ui-top-bar .top-bar-section ul li.has-form {
    height: 45px;
    padding: 0 15px;

    background: #333;
}
.ui-top-bar .top-bar-section ul li a.button {
    line-height: 17px;

    width: auto;
    height: 17px;
    margin-top: 7px;
    margin-bottom: 0;
    padding: 7px 15px;

    -webkit-transition: background 300ms ease;
       -moz-transition: background 300ms ease;
         -o-transition: background 300ms ease;
            transition: background 300ms ease;

    background: #008CBA;
}
.ui-top-bar .top-bar-section ul li a.button:hover {
    background: #006888;
}
.ui-top-bar .top-bar-section .has-dropdown {
    position: relative;
}
.ui-top-bar .top-bar-section .has-dropdown .dropdown-a {
    padding-right: 35px;
}
.ui-top-bar .top-bar-section .has-dropdown .dropdown-a .dropdown-arrow {
    position: absolute;
    top: 22.5px;
    right: 15px;

    display: block;

    width: 0;
    height: 0;
    margin-top: -2.5px;

    opacity: .4;
    border: inset 5px;
    border-color: transparent;
    border-top-style: solid;
    border-top-color: #FFF;

    filter: alpha(opacity=40);
}
:root .ui-top-bar .top-bar-section .has-dropdown .dropdown-a .dropdown-arrow {
    opacity: 1;
    border-color: rgba(255, 255, 255, .4) transparent transparent transparent;

    filter: alpha(opacity=100);
}
.ui-top-bar .top-bar-section .has-dropdown ul.dropdown {
    position: absolute;
    right: 0;
    left: auto;

    display: none;

    width: auto;
    min-width: 100%;
}
.ui-top-bar .top-bar-section .has-dropdown:hover ul.dropdown,
.ui-top-bar .top-bar-section .has-dropdown ul.dropdown:hover {
    display: block;
}
.ui-top-bar .top-bar-section .has-dropdown ul.dropdown li.dropdown-list {
    width: 100%;
}
.ui-top-bar .top-bar-section .has-dropdown ul.dropdown li.dropdown-list {
    width: 100%;
}
.ui-top-bar .top-bar-section .has-dropdown ul.dropdown li.divider {
    width: 100%;
    height: 0;

    border-right: none;
    border-bottom: solid 1px #4E4E4E;
}
.ui-top-bar .notification .notification-icon {
    display: inline-block;
    overflow: hidden;

    width: 20px;
    height: 20px;

    -webkit-animation-duration: 1s;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
       -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
        -ms-animation-timing-function: ease;
         -o-animation-timing-function: ease;
            animation-timing-function: ease;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;

    *margin-top: 12px;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}
.ui-top-bar .notification.mail .notification-icon {
    background-repeat: no-repeat;
    background-image: url(decorator/mail.png); /** sprite-ref: common; */
}
.ui-top-bar .notification .notification-label {
    display: none;
}
.ui-top-bar .notification.notified .notification-label {
    line-height: 1;

    display: inline-block;

    margin-left: 10px;
    padding: 2px 5px;

    vertical-align: middle;

    color: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #F04124;

    *margin-top: 12px;
}

@media only screen and (max-width: 767px) {
    .ui-top-bar {
        line-height: 40px;

        width: 100%;
        height: 40px;
    }
    .ui-top-bar .title-area .name {
        height: 40px;
    }
    .ui-top-bar .title-area .name h1 {
        line-height: 40px;
    }
    .ui-top-bar .title-area .name h1 a.canvas-toggle {
        display: block;
    }
    .ui-top-bar .top-bar-section ul li.divider {
        height: 40px;
    }
    .ui-top-bar .top-bar-section ul li a {
        line-height: 40px;
    }

    .ui-top-bar .left-small {
        float: left;

        width: 40px;
        height: 40px;
        margin-right: 1px;

        cursor: pointer;

        border-right: solid 1px #1A1A1A;
        -webkit-box-shadow: 1px 0 0 #4E4E4E;
           -moz-box-shadow: 1px 0 0 #4E4E4E;
                box-shadow: 1px 0 0 #4E4E4E;
    }
    .ui-top-bar .right-small {
        float: right;

        width: 40px;
        height: 40px;

        cursor: pointer;

        border-left: solid 1px #4E4E4E;
        -webkit-box-shadow: -1px 0 0 #1A1A1A;
           -moz-box-shadow: -1px 0 0 #1A1A1A;
                box-shadow: -1px 0 0 #1A1A1A;
    }

    .ui-top-bar .right-off-canvas-toggle {
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-image: url(decorator/star.png); /** sprite-ref: common; sprite-margin-bottom: 10px; sprite-margin-top: 10px; sprite-margin-left: 10px; sprite-margin-right: 10px; */
    }

    .ui-top-bar a.menu-icon {
        line-height: 40px;

        position: relative;

        display: block;

        width: 40px;
        height: 40px;
        padding: 0;

        text-indent: -9999px;

        color: #FFF;
    }
    .ui-top-bar a.menu-icon span {
        position: absolute;
        top: 4px;
        left: 13px;

        display: block;

        width: 15px;
        height: 0;

        -webkit-box-shadow: 1px 10px 1px 1px white, 1px 16px 1px 1px white, 1px 22px 1px 1px white;
           -moz-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
                box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    }
    .ui-top-bar a.menu-icon:hover span {
        -webkit-box-shadow: 1px 10px 1px 1px #B3B3B3, 1px 16px 1px 1px #B3B3B3, 1px 22px 1px 1px #B3B3B3;
           -moz-box-shadow: 0 10px 0 1px #B3B3B3, 0 16px 0 1px #B3B3B3, 0 22px 0 1px #B3B3B3;
                box-shadow: 0 10px 0 1px #B3B3B3, 0 16px 0 1px #B3B3B3, 0 22px 0 1px #B3B3B3;
    }
    .ui-top-bar a.menu-icon i {
        position: absolute;
        top: 12.5px;
        right: 9.5px;

        display: block;

        width: 0;
        height: 0;

        -webkit-transition: all 1s ease;
           -moz-transition: all 1s ease;
             -o-transition: all 1s ease;
                transition: all 1s ease;

        -webkit-border-radius: 1000px;
           -moz-border-radius: 1000px;
                border-radius: 1000px;
        background-color: #F04124;
    }
    .ui-top-bar a.menu-icon i.notified {
        top: 9px;
        right: 6px;

        width: 7px;
        height: 7px;

        -webkit-animation-duration: 1s;
        -webkit-animation-duration: 1s;
           -moz-animation-duration: 1s;
           -moz-animation-duration: 1s;
            -ms-animation-duration: 1s;
             -o-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
           -moz-animation-timing-function: ease;
           -moz-animation-timing-function: ease;
            -ms-animation-timing-function: ease;
             -o-animation-timing-function: ease;
                animation-timing-function: ease;

        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
    }
    .ui-top-bar .left-off-canvas-menu {
        position: fixed;
        z-index: 1001;
        top: 0;
        bottom: 0;
        left: 0;

        overflow-y: auto;

        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
        width: 200px;
        height: 100%;

        -webkit-transition: -webkit-transform 300ms ease;
           -moz-transition:    -moz-transform 300ms ease;
             -o-transition:      -o-transform 300ms ease;
                transition:         transform 300ms ease;
        -webkit-transform: translate3d(-100%, 0, 0);
           -moz-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
             -o-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

        background: #333;

        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
             -o-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .ui-top-bar .right-off-canvas-menu {
        position: fixed;
        z-index: 1001;
        top: 0;
        right: 0;
        bottom: 0;

        overflow-y: auto;

        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
        width: 70%;
        max-width: 220px;
        height: 100%;

        -webkit-transition: -webkit-transform 300ms ease;
           -moz-transition:    -moz-transform 300ms ease;
             -o-transition:      -o-transform 300ms ease;
                transition:         transform 300ms ease;
        -webkit-transform: translate3d(100%, 0, 0);
           -moz-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
             -o-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);

        background: #333;

        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
             -o-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .ui-top-bar .exit-canvas-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;

        -webkit-transition: all 300ms ease;
           -moz-transition: all 300ms ease;
             -o-transition: all 300ms ease;
                transition: all 300ms ease;

        background: rgba(255, 255, 255, .2);

        -webkit-backface-visibility: hidden;
    }
    .ui-top-bar .left-off-canvas-menu .off-canvas-list {
        margin-bottom: 24px;
    }
    .ui-top-bar .left-off-canvas-menu .off-canvas-list li label {
        font-size: 12px;
        font-weight: bold;

        display: block;

        margin: 0;
        padding: 6px 13px;

        color: #999;
        border-top: 1px solid #5E5E5E;
        border-bottom: none;
        background: #444;
    }
    .ui-top-bar .left-off-canvas-menu .off-canvas-list li a {
        font-size: 12px;

        display: block;

        padding: 11px;

        color: rgba(255, 255, 255, .7);
        border-bottom: 1px solid #262626;
    }
    .ui-top-bar .left-off-canvas-menu .off-canvas-list li a.button {
        line-height: 18px;

        width: 50px;
        height: 18px;
        margin: 7px auto;
        padding: 4px 20px;

        -webkit-transition: background 300ms ease;
           -moz-transition: background 300ms ease;
             -o-transition: background 300ms ease;
                transition: background 300ms ease;
        text-align: center;

        background: #008CBA;
    }
    .ui-top-bar .left-off-canvas-menu .off-canvas-list li a.button:hover {
        background: #006888;
    }
    .move-right .left-off-canvas-menu {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        -webkit-box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
           -moz-box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
                box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
    }
    .move-left .right-off-canvas-menu {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        -webkit-box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
           -moz-box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
                box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);
    }
    .ui-top-bar .off-canvas-footer {
        font-size: 12px;
        line-height: 25px;

        z-index: 1002;
        top: auto;
        bottom: 0;
        left: 0;

        height: 25px;

        text-align: center;

        color: #999;
        border-top: 1px solid #262626;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    .ui-top-bar .off-canvas-footer a {
        color: #999;
    }
    .move-right .exit-canvas-menu,
    .move-left .exit-canvas-menu {
        z-index: 1000;

        display: block;

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .ui-top-bar .off-canvas-notification {
        position: absolute;
        top: 0;
        right: 0;
    }
    .ui-top-bar .off-canvas-notification a {
        border-bottom: none!important;
    }
}
@media only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .ui-top-bar .right-off-canvas-toggle {
        background-repeat: no-repeat;
        background-position: 10px 10px;
        -moz-background-size: 50% 50%;
          -o-background-size: 50% 50%;
             background-size: 50% 50%;
        background-image: url(decorator/star@2x.png); /** sprite-ref: common@2x; sprite-margin-bottom: 20px; sprite-margin-top: 20px; sprite-margin-left: 20px; sprite-margin-right: 20px; */
    }
    .ui-top-bar .notification.mail .notification-icon {
        background-repeat: no-repeat;
        -moz-background-size: 50% 50%;
          -o-background-size: 50% 50%;
             background-size: 50% 50%;
        background-image: url(decorator/mail@2x.png); /** sprite-ref: common@2x; */
    }
}
