.ui-alert-box {
    font-size: 12px;
    font-weight: normal;

    position: relative;

    display: block;

    margin: 10px 0;
    padding: 12px 21px 12px 12px;

    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #007BA0;
    background-color: #008CBA;
}
.ui-alert-box.success {
    color: white;
    border-color: #3A945B;
    background-color: #43AC6A;
}
.ui-alert-box.warning {
    color: white;
    border-color: #DE770F;
    background-color: #F08A24;
}
.ui-alert-box.info {
    color: #4F4F4F;
    border-color: #74BFDD;
    background-color: #A0D3E8;
}
.ui-alert-box .ui-alert-close {
    font-size: 21px;
    line-height: 0;

    position: absolute;
    top: 50%;
    right: 4px;

    margin-top: -10px;
    padding: 9px 6px 4px;

    opacity: .3;
    color: #333;

    filter: alpha(opacity=50);
}
.ui-alert-box .ui-alert-close:hover {
    opacity: .5;

    filter: alpha(opacity=50);
}
