html, body {
    font-size: 100%;
    width: 100%;
}
body {
    color: #222222;
    font-family: Arial, 'Microsoft YaHei', '\5b8b\4f53'!important;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    cursor: default;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}
a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
}
ul, ol, dl {
    font-size: 1rem;
    line-height: 1.6;
}
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}
input[type=text],
input[type=password] {
    background-color: #FFF;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    height: 28px;
    line-height: 28px\9;
    padding: 0 5px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
input[type=text]:hover,
input[type=password]:hover {
    border-color: #aaa;
}
input[type=text]:focus,
input[type=password]:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
input[type=text].disabled,
input[type=password].disabled {
    border-color: #ddd!important;
    color: #aaa!important;
}
.left {
    float: left;
}
.right {
    float: right;
}
.channels {
    display: none;
}
.loading-error {
    text-align: center;
    padding: 50px 0;
}
.hide-for-desktop {
    display: none;
}

@media only screen and (min-width: 641px) {
    .hide-for-desktop {
        display: none!important;
    }
}

@media only screen and (max-width: 640px) {
    .hide-for-mobile {
        display: none!important;
    }
    .hide-for-desktop {
        display: block;
    }
}
