body, table, div, p, dl {
	font-size: 14px;
	font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
}
div.line { font-family: Consolas, monospace, fixed; font-size: 14px; line-height: 1.3; }

body, div.fragment { background-color: #eee; }

#titlearea { display: none; }
#projectname { font-size: 18px; }

.tabs, .tabs2, .tabs3, .navpath ul { font-size: 14px; background: #ebeff6;}
.tablist a, .tablist a:hover { background: #ebeff6; color: #283a5d; text-shadow: none; }
.tablist a:hover { background: #c6d1e6; }
.tablist li.current a { color: #000; text-shadow: none; background: #c6d1e6;}
.tablist li { border-right: 1px solid #c6d1e6; line-height: 24px; margin: 2px 0; }

footer { margin: 5px 10px 0 0; padding: 5px 0 0 0; float: right; }
footer span { font-size: 12px; color: gray; }
