PERM_LOGIN    = 0x1
PERM_TALK     = 0x2
PERM_MAIL     = 0x4
PERM_POST     = 0x8
PERM_REGISTER = 0x10
PERM_BINDMAIL = 0x20
PERM_BOARDS   = 0x40
PERM_OBOARDS  = 0x80
PERM_OCLUB    = 0x100
PERM_ANNOUNCE = 0x200
PERM_OCBOARD  = 0x400
PERM_USER     = 0x800
PERM_OCHAT    = 0x1000
PERM_SYSOPS   = 0x2000
PERM_CLOAK    = 0x4000
PERM_SEECLOAK = 0x8000
PERM_XEMPT    = 0x10000
PERM_LONGLIFE = 0x20000
PERM_LARGEMAIL= 0x40000
PERM_TECH     = 0x80000
PERM_ARBI     = 0x100000
PERM_SERV     = 0x200000
PERM_SPECIAL0 = 0x400000
PERM_SPECIAL1 = 0x800000
PERM_SPECIAL2 = 0x1000000
PERM_SPECIAL3 = 0x2000000
PERM_SPECIAL4 = 0x4000000
PERM_SPECIAL5 = 0x8000000
PERM_SPECIAL6 = 0x10000000
PERM_SPECIAL7 = 0x20000000
PERM_SPECIAL8 = 0x40000000
PERM_SPECIAL9 = 0x80000000

PERM_DEFAULT     = PERM_LOGIN, PERM_TALK, PERM_MAIL, PERM_POST, PERM_REGISTER
PERM_ADMINMENU   = PERM_SYSOPS, PERM_OBOARDS, PERM_OCBOARD
PERM_ESYSFILE    = PERM_SYSOPS, PERM_OCBOARD
PERM_BLEVELS     = PERM_SYSOPS, PERM_OBOARDS
PERM_UCLEAN      = PERM_SYSOPS, PERM_ACCOUNTS
#---------------------------------------------------------------------
%S_MAIN






[1m
                                [11;29H[m┭┴┬┶┳┵┰┴┰┶┳┵┮┵┮┵┬┴┼┴┬┴┄[1m
                                [12;29H[m┴┬[0;47m                                      [0m┴┬[1m
                                [13;29H[m┭┴[0;34;47m     [3I[13;38H屏 旦 相 你 网   今 携 久 数 为  [0m┬┴[1m
                                [14;29H[m┴┮[0;34;47m     [3I[14;38H前 复 遇 我 上   宵 手 得 载 谁  [0m┴┬[1m
                                [15;29H[m┭┴[0;34;47m     [3I[15;38H一 旦 相 随 悠   把 朝 春 光 盛  [0m┬┴[1m
                                [16;29H[m┴┬[0;34;47m     [3I[16;38H曲 兮 知 缘 然   酒 朝 风 华 放  [0m┴┮[1m
                                [17;29H[m┬┴[0;34;47m     [3I[17;38H真 心 处    无   盈 同 沐    花  [m┬┴[1m
                                [18;29H[m┴┮[0;34;47m     [3I[18;38H情 如       拘   杯 暮       满  [m┴┬[1m
                                [19;29H[m┬┴[0;47m [1;31m▓[0;34;47m  [3I[19;38H赋 故       束   祝 暮       路  [0m┬┴[1m
                                [20;29H[m┴┬[0;30;47m                                      [0m┴┬[1m
                                [21;29H┭┭┴┬┶┳┵[1m┰┴┰┶┳┵[0m┮┵┮┵┬[1;30m┴┼┴┬┴[0;1m

%
#---------------------------------------------------------------------
%menu TOPMENU
#cmd,         line, col, perm,           descr
title,           0,  0,  ★ 主选单 ★
screen,          3,  0,  S_MAIN
!M_EGROUP,       10, 5,  0,              E) 分类讨论区
#@BGroups,        0,  0,  0,              O) 新分类讨论区
@Announce,       0,  0,  0,              X) 本站精华区
@tui_favorite_boards, 0,  0,  PERM_LOGIN,     F) 我的收藏夹
!M_TALK,         0,  0,  0,              T) 上鹊桥
!M_MAIL,         0,  0,  PERM_LOGIN,     M) 处理信笺
!M_INFO,         0,  0,  PERM_LOGIN,     I) 工具箱
!M_GAME,         0,  0,  PERM_REGISTER,  G) 游戏专区
!M_SYSINFO,      0,  0,  0,              C) 系统资讯
@tui_all_boards, 0,  0,  0,              A) 所有讨论区
@board_select,   0,  0,  0,              S) 选择讨论区
@ent_bnet  ,     0,  0,  PERM_REGISTER,  [1;33mB) 附属站复旦泉[m
!M_ADMIN,        0,  0,  PERM_ADMINMENU, Z) 铺路修桥
@Goodbye,        0,  0,  0,              G) 说拜拜
%
#------------------------------------------------------------------------
%S_EGROUP







                                                [1;33m●[37m                ◢◤╲[0;37m    [m
                                          [1m ◢██◣[0;37m                         [m
                                          [1m                       ◢██◣[0;37m   [m
                                          [1m   ▌[0;37m                             [m
                                          [1m      ◢◤╲       – ◢◣  田[0;37m    [m
                                          [1m    ◢◤    ╲    _   ██[0;37m        [m
                                          [1m                 ▁   ◤◥[0;37m        [m
                                          [1m  ◢◣    ▌   ▁▁ [0;37m              [m
                                          [1m◢██◣      ▁▁     ▌[0;37m         [m
                                          [1m█◤◥█       ▁▁       ╱◥◣[0;37m  [m
                                          [1m◤    ◥       ▁▁▁   ╱    ◥◣[m
                                             [1m ▋[0;37m             [1m▂▂▂[m
%
#------------------------------------------------------------------
%menu M_EGROUP
title,           0,  0,  分类讨论区选单
screen,          3,  10, S_EGROUP
@tui_read_sector,9,  5,  0,              0) BBS 系统 - [系统]
@tui_read_sector,0,  0,  0,              1) 复旦大学 - [校内]
@tui_read_sector,0,  0,  0,              2) 院系风采 - [院系]
@tui_read_sector,0,  0,  0,              3) 电脑技术 - [电脑]
@tui_read_sector,0,  0,  0,              4) 休闲娱乐 - [休闲]
@tui_read_sector,0,  0,  0,              5) 文学艺术 - [文艺]
@tui_read_sector,0,  0,  0,              6) 体育健身 - [运动]
@tui_read_sector,0,  0,  0,              7) 感性空间 - [感性]
@tui_read_sector,0,  0,  0,              8) 新闻信息 - [新闻]
@tui_read_sector,0,  0,  0,              9) 学科学术 - [学科]
@tui_read_sector,0,  0,  0,              A) 音乐影视 - [影音]
@tui_read_sector,0,  0,  0,              B) 交易专区 - [交易]
@tui_read_sector,0,  0,  PERM_SPECIAL0,  C) 内部版面 - [内部]
#@tui_all_boards,0,  0,  0,              B) 所有讨论区
@tui_unread_boards,0,0,  0,              N) 阅读新文章
!..,             0,  0,  0,              E) 回到主选单
%
#------------------------------------------------------------------
%S_PERSONAL






                                       ┌—————————————————┐
        [0;1;4;33m个人文集使用说明[0;1;5;40;31mNew![0m           │       [1;36m§   个 人 文 集  §[0m       │
 FB2000 目前支持的访问个人文集的方法： ├—————————————————┤
  1. 阅读文章时，Ctrl+X 可以输入对方ID │                                  │
     来访问对方的个人文集； 或者输入首 │                                  │
     字母进入对应的首字母个人文集区。  │                                  │
  2. * 表示自己的个人文集， 在阅读文章 │                                  │
     时用大写的 X 进入自己的个人文集。 │                                  │
  3. 在环顾四方时， 对着对方的 ID 按小 │                                  │
     写的 x 则进入对方的个人文集中。   │                                  │
  4. 通过本菜单的导航， 进入首字母个人 │
     文集区。 * 表示自己的个人文集。   │                                  │
                                       └—————————————————┘
%
#-------------------------------------------------------------------
%menu M_PERSONAL
title,        0, 0, 个人文集
screen,      3, 0, S_PERSONAL
@Personal,   13, 45, 0, *
@Personal,    0, 0, 0, A
@Personal,    0, 0, 0, B
@Personal,    0, 0, 0, C
@Personal,    0, 0, 0, D
@Personal,    0, 0, 0, E
@Personal,    0, 0, 0, F
@Personal,   13,52, 0, G
@Personal,    0, 0, 0, H
@Personal,    0, 0, 0, I
@Personal,    0, 0, 0, J
@Personal,    0, 0, 0, K
@Personal,    0, 0, 0, L
@Personal,    0, 0, 0, M
@Personal,   13,59, 0, N
@Personal,    0, 0, 0, O
@Personal,    0, 0, 0, P
@Personal,    0, 0, 0, Q
@Personal,    0, 0, 0, R
@Personal,    0, 0, 0, S
@Personal,    0, 0, 0, T
@Personal,   13,66, 0, U
@Personal,    0, 0, 0, V
@Personal,    0, 0, 0, W
@Personal,    0, 0, 0, X
@Personal,    0, 0, 0, Y
@Personal,    0, 0, 0, Z
!..,          0, 0, 0, [32m→Exit[m │
%
#------------------------------------------------------------------
%S_MAIL






                                                             [0;32m◣[0;1m
                                                           [0;32m◥[1;42m╲[0;1m
                                                             [0;32m◤\[0;1m
                                                        [0;33m◣[0;1m
                                             [1;31m_        [0;33m◥[1;43m╲[0;33m◤[0;1m
                                            [0;31m◢[1;41m╲[0;31m◣[0m        [33m▔[0;1m
                            [0m┌─┬─┬─┬─┬[31m◥[0m┬─┬─┬─┬─┬─┐   [1m
                            [0m│  │  │[3I悲│忧│喜│乐│键│盘│诉│  │╭ [0;1m
                            [0m├─┴─┴─┴─┴─┴─┴─┴─┴─┴─ ╱╱[1m
                            [0m├─┬─┬─┬─┬─┬─┬─┬─┬─┬-∠╱  [1m
                            [0m│[3I雁│字│鱼│文│网│线│传│  │  │〆     [0;1m
                            [0m├─┴─┴─┴─┴─┴─┴─┴─┴─┴─┤   [1m
%
#------------------------------------------------------------------
%menu M_MAIL
title,           0,  0,  处理信笺选单
screen,          3,  0,  S_MAIL
@m_new,         11,  5,  PERM_LOGIN,     N) 览阅新信笺
@m_read,        12,  5,  PERM_LOGIN,     R) 览阅全部信笺
@m_send,         0,  0,  PERM_REGISTER,  S) 丢小纸条
@g_send,         0,  0,  PERM_BINDMAIL,  G) 寄信给一群人
@ov_send,        0,  0,  PERM_BINDMAIL,  F)┌寄信给好友名单
@tui_following_list,0,0, PERM_BINDMAIL,  O)└设定好友名单
@mailall,        0,  0,  PERM_SYSOPS,    A) 寄信给所有人
!..,             0,  0,  0,              E) 回到主选单
%
#------------------------------------------------------------------
%S_TALK






                                      [1m
                                                 [5;31m◢◣◢◣[0;1m
                                             　  [5;31m◥[41m  [1m◢[40m◤[0;1m
                                      　[1;34m◢[44m◤[0;44m　　[34;40m◣[1;37m [0;31;40m◥[1;5m◤[37m [0;34;40m◢[44m  [1m　◥[40m◣[37m
                                      　[1;34m█[0;44m　　    [1;40m [0;37;40m [5;31mξ [0;1m [0;37;44m　　　[1;31m＊[34m█[37;40m
                                      　[1;34m█[0;30;44m　　[1;37m⊙[0;30;44m　[33;40m◣[1;37m  [0;33m◢[37;44m　∪　　[1;34m█[0;1m
                                      　[1;34;44m◤[0;44m　[1;35m﹌[0;44m　　[34;40m◢[1;37m  [0;34;40m　[1;35;44m　　〞　[34m◥[0;1m
                                      [0;30;44m◤  [34;47m◤[37m　　　[34;40m◤[1;37m  [0;34;40m◢[37;47m　 　[44m◣   [34;40m◣[0;1m
                                        [44m  [0;1;47m　　　　[40m　  　[47m　　　[0;37;47m [44m   [0;1m
                                      [0;34m◢[44m  [37;47m　　　[40m◤　[1m  [0;37;40m　◥[47m     [44m   [34;40m◣[0;1m
                                          [0;30;43m▅[40m   [43m▅[40m　　[1;37m  [0;30;40m　[43m▅[40m [37m　[30;43m▅[0;1m
                                [32m.:*聊天是件好事情，可是别耽误了学习呀!*:.[0;1m
%
#------------------------------------------------------------------
%menu M_TALK
title,           0,  0,  上鹊桥选单
screen,          3,  0,  S_TALK
@show_online_users,      10, 5,  0,              U) 环顾四方    Users
@show_online_followings,   0,  0,  PERM_LOGIN,     F) 夜探好友   Friend
@tui_query,      0,  0,  0,              Q) 查询网友    Query
@s_msg,        0,  0,  PERM_TALK,      S) 送讯息给别人
@msg_more,        0,  0,  PERM_LOGIN,     L) 察看所有讯息
#@Monitor,        0,  0,  PERM_SYSOPS,    M) 探视民情
#@FriendWall,     0,  0,  PERM_SYSOPS,    R) 送讯息给好友
#@GoodWish,       0,  0,  PERM_SYSOPS,    G) 给朋友送去祝福
#@EnterChat,      0,  0,  PERM_TALK,      1) 燕园夜话
#@WaitFriend,     0,  0,  PERM_OBOARDS,   W) 设定好友上站通知
!..,             0,  0,  0,              E) 回到主选单
%
#------------------------------------------------------------------
%S_INFO






[1m
                                    [37;40m                   [32m ◢▇◢▇[37m   [0;37;40m[1m
                                            [1;33m ◢◣◢◣[37m   [32m▇◤▇◤[37m   [0;37;40m[1m
                                          [1;32m ＼[33m▇▇▇▇[32m／     ◢▇[37m   [0;37;40m[1m
                                    [1;33m     ◢▇ ╬╬╬ ▇◣[32m   ▇◤[37m   [0;37;40m[1m
                                    [1;33m    ◥▇ ╬╬╬╬ ▇◤[0;40m      [1m   [0;37;40m[1m
                                       [1;33m ◢▇ ╬╬╬╬ ▇◣[0;40m      [1m   [0;37;40m[1m
                                    [1;32m◢▇[33m ◥▇ ╬╬╬ ▇◤[0;40m[1m
                                    [1;32m▇◤   ／[33m▇▇▇▇[32m＼[0;40m[1m
                                    [1;32m◢▇◢▇[33m ◥◤◥◤[0;40m[1m
                                    [1;32m▇◤▇◤[0;40m[1m          站花 向日葵
%
#------------------------------------------------------------------
%menu M_INFO
title,            0,  0,  工具箱选单
screen,           3,  0,  S_INFO
@fill_reg_form,  10,  5,  PERM_LOGIN,     F) 注册详细个人资料
@x_info,          0,  0,  PERM_LOGIN,     I) 设定个人资料
@x_userdefine,    0,  0,  PERM_REGISTER,  U) 个人参数设定
@x_edits,         0,  0,  PERM_REGISTER,  W) 编修个人档案
#@SetAlarm,       0,  0,  PERM_REGISTER,  A) 定时备忘录
@x_lockscreen,    0,  0,  PERM_LOGIN,     L) 暂时将屏幕锁住
#@SetPager,       0,  0,  PERM_REGISTER,  P) 想一个人静静
@tui_following_list,0,0,  PERM_REGISTER,  O) 设定好友名单
@tui_black_list,  0,  0,  PERM_REGISTER,  B) 设定坏人名单
@offLine,         0,  0,  PERM_REGISTER,  S) 自杀
@giveUpBBS,       0,  0,  PERM_REGISTER,  G) 戒网
!..,              0,  0,  0,              E) 回到主选单
@x_cloak,         0,  0,  PERM_CLOAK,     C) 隐身术
%

#------------------------------------------------------------------
%S_SYSINFO






                                            [1m
                                            [1m
                                            [1mO
                                          [1mo         ,/
                                        [1mo         ///
                                              [1m,,////.   ,/[m        [1;32m)[m [1m
                                         [1m'.  [m[1;33mo[m[1m:::::::;;///[m     [1;32m( ([m [1m
                                           [1m<::::::::;;\\\[m     [1;32m(  )[m[1m
                                             [1m''::::::' \\\[m     [1;32m)([m[32m\[m[1;32m([m[1m
                                                 [1m'\\      \[m    [1;32m()[m[32m/[m[1;32m))[m[1m
                                                               [1;32m\([m[32m|[m[1;32m/[m[1m
                                          [1;31m光华鱼已经9岁啦![m     [1;32m()|([m[1m
                                                                [1;32m(|)[m[1m
                                                                [1;32m\|/[m[1m
%
#------------------------------------------------------------------
%menu M_SYSINFO
title,           0,  0,  系统资讯选单
screen,          3,  0,  S_SYSINFO
@Conditions,    11,  5,  0,              [1mL) 使用执照[m
@Info,           0,  0,  0,              [1mC) 智慧权资讯[m
@x_vote,         0,  0,  PERM_REGISTER,  [1mV) 公民投票[m
@x_results,      0,  0,  0,              [1mR) 选情报导[m
@Welcome,        0,  0,  0,              [1mW) 进站画面[m
@shownotepad,    0,  0,  0,              [1mN) 看看留言板[m
#@SwitchCode,     0,  0,  0,              [1mH) GB<==>BIG5切换[m
#@AllUsers,       0,  0,  PERM_SYSOPS,    [1mU) 本站使用者列表[m
#@Setsyspass,     0,  0,  PERM_SYSOPS,    [1mS) 设定系统密码[m
!..,             0,  0,  0,              [1mE) 回到主选单[m
%
#---------------------------------------------------------------------------
%menu M_ADMIN
title,        0, 0,  系统维护选单
!M_USER,     10, 25, PERM_OBOARDS,  [1mU) 用户设定
!M_BOARD,     0, 0,  PERM_OBOARDS,  [1mB) 讨论区设定
@so/admintool.so:a_edits,    0, 0,  PERM_ESYSFILE, [1mS) 编辑系统档案
#@MailClean,  0, 0,  PERM_SYSOPS,   [1mM) 清除读过的私人信件
@so/admintool.so:wall,        0, 0,  PERM_SYSOPS,   [1mW) 对所有人广播
!M_PERSONAL,  0, 0,  PERM_SYSOPS,   [1mP) 个人文集
#@FriendWall,  0, 0,  PERM_SYSOPS,   R) 送讯息给好友
#@GoodWish,    0, 0,  PERM_SYSOPS,   G) 给朋友送去祝福
!..,          0, 0,  0,             [1mE) 回到主选单
%
#------------------------------------------------------------------
%menu M_USER
title,           0, 0, 用户设定
@Register,      10,25, PERM_SYSOP,    [1mR) 设定使用者注册资料[m
@NewChangeLevel, 0, 0, PERM_OBOARDS,  [1mN) 全站处罚列表
@Info,           0, 0, PERM_ACCOUNTS, [1mI) 修改使用者资料
@Level,          0, 0, PERM_SYSOPS,   [1mL) 更改使用者的权限
@AllUsers,       0, 0, PERM_SYSOPS,   U) 本站使用者列表
@Monitor,        0, 0, PERM_SYSOPS,   [1;mM) 探视民情
@Kick,           0, 0, PERM_OBOARDS,  [1mK) 将使用者踢出本系统
@DelUser,        0, 0, PERM_SYSOPS,   [1mD) 砍掉帐号
@ShowUser,       0, 0, PERM_SYSOPS,   [1m1) Show User
@ChangeLevel,    0, 0, PERM_OBOARDS,  [1mC) 释放
!..,             0, 0, 0,             [1mE) 回到主选单
%
#------------------------------------------------------------------
%menu M_BOARD
title,        0, 0, 讨论区设定
@NewBoard,   10,25, PERM_OBOARDS, [1mN)   开启新讨论区
@OrdainBM,    0, 0, PERM_USER,    [1mO)   任命版主
@RetireBM,    0, 0, PERM_USER,    [1mR)   版主离任
@ChangeBrd,   0, 0, PERM_OBOARDS, [1mC)   修改讨论区设定
@AddPCorpus,  0, 0, PERM_SYSOPS,  [1mA)   创建个人文集
@BoardDel,    0, 0, PERM_SYSOPS,  [1mB)   砍掉讨论区
@SelectBoard, 0, 0, 0,            [1mS)   选择讨论区
@ReadBoard,   0, 0, 0,            [1mR)   阅读讨论区
!..,          0, 0, 0,            [1mE)   回到主选单
%
#-------------------------------------------------------------------
%menu M_GAME
title,        0, 0, 游戏专区
screen,       3, 10, S_GAME
@RunMBEM,     10, 5, 0,   C)   电子小鸡
@RunMBEM,     0, 0, 0,    G)   猜数字
@RunMBEM,     0, 0, 0,    J)   黑Jack
@RunMBEM,     0, 0, 0,    X)   西八拉
@RunMBEM,     0, 0, 0,    P)   金扑克王
@RunMBEM,     0, 0, 0,    N)   天地九九
@RunMBEM,     0, 0, 0,    B)   宾果宾果
@RunMBEM,     0, 0, 0,    M)   小玛丽
@RunMBEM,     0, 0, 0,    S)   星空战斗鸡
!..,          0, 0, 0,    E)   回到主选单
%
#------------------------------------------------------------------
%S_GAME






[1m

%
#-------------------------------------------------------------------
